{% extends 'formularios/plantilla-form.html.twig' %}
{% block title %}
¡Envio Correcto!
{% endblock %}

{% block formulario %}

{% import 'components/logo_granota.html.twig' as granota_logo %}

<div class="d-flex justify-content-center align-items-center vh-100">
    <div>
        {{ granota_logo.propiedades() }}
        <h3 class="text-center">Briefing eviado correctamente</h3>
        <p class="text-center">Nuestro equipo revisará que todo esté correcto y en la mayor brevedad posible se pondrán
            en contacto con
            usted para iniciar su proyecto</p>
    </div>
</div>


{% endblock %}