{% extends 'dashboard_cliente/plantilla.html.twig' %}

{% block title %}Dashboard 
{{empresa.nombre}}
{% endblock %}
{% block stylesheets %}
	{{ parent() }}
{% endblock %}
{% block contenido %}
<h1> ejemplo </h1>