<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>404 - Página no encontrada</title>
    <style>
        body {
            font-family: Arial, sans-serif;
            background-color: #ffffff;
            padding: 0;
            margin: 0;
        }

        .container {
            display: flex;
            justify-content: center;
            align-items: center;
            flex-direction: column;
            height: 100vh;
        }

        h1 {
            color: #3d9970;
            font-size: 36px;
            margin-bottom: 0;
        }

        p {
            color: #333;
            font-size: 18px;
        }

        a {
            color: #0074d9;
            text-decoration: none;
            font-weight: bold;
        }
    </style>
</head>

<body>
    <div class="container d-flex justify-content-center align-items-center vh">
        <h1>¡Oops! Parece que te has perdido en el pantano...</h1>
        <p>La página que buscas no se ha encontrado. Quizás alguna rana traviesa se la llevó.</p>
        <a href="/">Volver al inicio</a>
    </div>

</body>

</html>