
<p>Hola {{ user.username }},</p>
<p>Has solicitado un restablecimiento de contrase침a. Tienes 1 hora para restablecer tu contrase침a:</p>
<p><a href="{{ path('reset_password', {'token': user.resetToken}) }}">Restablecer contrase침a</a></p>
<p>Si no solicitaste este restablecimiento, ignora este correo electr칩nico.</p>
