{% extends 'base.html.twig' %}

{% block title %}
PSFS!
{% endblock %}

{% block body %}
<section class="d-flex justify-content-center align-items-center" style="height: 100vh;">
    <div class="row">
        <div class="col-12">
            <div class="card-container mx-auto text-center">
                {% block contenido %}

                {% endblock %}
            </div>
        </div>
    </div>
</section>

{% endblock %}