{% macro footerComponent() %}
{% if app.request.pathinfo != '/login' %}
<footer>

    © 2024
    <a href="https://granota.net">Granota.net</a>
    |
    <a href="#">Aviso Legal</a>
    |
    <a href="#">Política de Cookies</a>

</footer>
{% endif %}
{% endmacro %}