{% macro headerComponent() %}
{% import 'components/logo_my-project.html.twig' as myproject_logo %}
<header class="navbar navbar-dark sticky-top  flex-md-nowrap p-0 shadow" style="background-color: #99c21e;">
    <a class="navbar-brand col-md-3 col-lg-2 me-0 px-3" href="#">
        {{ myproject_logo.propiedades('125px','white') }}
    </a>
    <button class="navbar-toggler position-absolute d-md-none collapsed" type="button" data-bs-toggle="collapse"
        data-bs-target="#sidebarMenu" aria-controls="sidebarMenu" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="navbar-nav">
        <div class="nav-item text-nowrap">
            <a class="nav-link px-3" href="/logout">Salir</a>
        </div>
    </div>
</header>
{% endmacro %}